@model IEnumerable<HelpdeskMVC.Models.Home.UserComplaintModel>

@{
    ViewBag.Title = "GetUserComplintDetails";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<h2>GetUserComplintDetails</h2>

@section scripts{
    <script>
        alert('hello');
        $(document).ready(function () {
            $('#btnGetData').click(function () {
                alert('hiii');
                $.ajax({
                    type: "GET",
                    url: "/User/abc",
                    data: {
                        'emailid': '86rishi@gmail.com',
                        'status': 'Open'
                    },
                    success: function (response) {
                        alert(response);
                    }

                });
            });
        });



    </script>

}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<input type="button" id="btnGetData" value="Submit" />
<div id="dvComplaintData">

</div>
